<div class="container">
  <h1>Groceries</h1>
  <select (change)="onTypeChange($event)" class="type-select">
    <option value="">All</option>
    <option value="fruits">Fruits</option>
    <option value="vegetables">Vegetables</option>
    <option value="dairy">Dairy</option>
    <option value="bakery">Bakery</option>
    <option value="poultry">Poultry</option>
    <option value="meat">Meat</option>
    <option value="beverages">Beverages</option>
  </select>
  <ul class="grocery-list">
    @for(groc of (filteredGroceries$ | async)?? (groceries$ | async); track groc.id) {
    <li class="grocery-item">
      <span class="increment-button" (click)="increment(groc)">+</span>
      {{ groc.name }}
      <span class="decrement-button" (click)="decrement(groc)">-</span>
    </li>
    }@empty {
    <li>loading..</li>
    }
  </ul>
</div>
